/**
 * Project Name: Quizzify-AI
 * 
 * Styles for footer.tsx
 *
 * @author Chris Johannesson <chris@chrisjohannesson.com>
 * @version 1.0.0 - release
 */
.footer {
  padding-top: 2rem;
  font-size: 14px;
}

.footer p {
  display: inline-block;
  margin-left: 1rem;
  color:darkblue;
}

.footer img {
  display: inline-block;
}