@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: quizzifyNameFont;
  src: url("/fonts/playfairDisplay.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

p {
  width: 100%;
  max-width: 55ch;
}
.companyName{
  font-family: quizzifyNameFont;
  color: #0050ffff;
}

.keepColor {
  color: inherit;
}

.homePageLogoText{
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
  background: transparent;
  border: none;
}

.homeClickable{
  cursor: pointer;
}

html {
  min-height: 100vh;
  font-size: 18px;
}

body {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-size: cover;
    background-repeat: no-repeat;
}
#root{
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  color: navy;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  padding: 2rem 0;
}
