@tailwind base;
@tailwind components;
@tailwind utilities;
@import './quizzes.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  min-height: 100vh;
  font-size: 18px;
}

body {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-size: cover;
    background-repeat: no-repeat;
}
#root{
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  color: navy;
}
/* #__next {
  display: flex;
  flex-direction: column;
  height:100vh;
  text-align: left;
  background: transparent;
} */
