/**
 * Project Name: Quizzify-AI
 * 
 * Styles for pages/index.tsx the application home page.
 *
 * @author Chris Johannesson <chris@chrisjohannesson.com>
 * @version 1.0.0 - release
 */

.home_p{
   font-size: 1.2rem;
  font-family: Roboto;
  background: transparent;
  padding: 1rem;
  color: black;
}

.home_ul{
  list-style: disc;
  max-width: 55ch;
  padding: 0 2rem;
}

.home_h3 {
  font-size: 1.5rem;
  max-width: 55ch;
  border-top: 1px solid rgba(236, 236, 236, 0.4);
  border-bottom: 1px solid rgba(236, 236, 236, 0.4);
}
