.pricingPage {
  color: navy;
}

.pricingPage h1 {
  font-size: 3rem;
  color: #0050ffff;
  font-family: Roboto;
  margin-bottom: 2rem;
}

.tableWrapper {
  border: 3px inset blue;
  border-radius: 20px;
  overflow: hidden;
}

.pricingPage table{
  background-color: aliceblue;
  padding: 1rem;
}

.pricingPage td {
  padding: 1rem;
}

.tmp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.tmp h1 {
  font-size: 3rem;
  color: #0050ffff;
  font-family: Roboto;
  margin-bottom: 2rem;
}

.tmp p {
  font-size: 1.5rem;
  color: black;
  font-family: Roboto;
  margin-bottom: 2rem;
}