/**
 * Project Name: Quizzify-AI
 * 
 * Styles for quizQuestions.tsx
 *
 * @author Chris Johannesson <chris@chrisjohannesson.com>
 * @version 1.0.0 - release
 */
.wrapper {
  width: clamp(200px, 80%, 600px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(236, 236, 236, 0.4);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.quizQuestion {
  width: 100%;
}

.wrapper input[type=button]{
  width: auto;
  background-color: rgba(236, 236, 236, 0.4);
  border: 2px outset rgba(107, 107, 107, 0.616);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 2rem;
} 

.wrapper input[type=button]:hover {
  outline: 3px solid rgba(67, 62, 62, 0.804);
  cursor: pointer;
  border: 2px outset rgba(107, 107, 107, 0.616);
} 


.wrapper div+div {
  margin-top: 1rem;
}

.wrapper h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.wrapper h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.wrapper p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.wrapper hr {
  border-top: 3px solid rgb(180, 180, 180);
  width: 100%;
}